# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
pids
*.pid
*.seed
*.pid.lock

# Firebase Service Account Key
.env

# Firebase specific
firebase-debug.log

# IDE Specific
.idea/
*.iml
*.suo
*.sln
*.user
.vscode/

# MacOS
.DS_Store
